<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Absensi Wajah</title>
</head>
<body>
    <div class="card">
        <h2>Absensi Siswa</h2>
        <div class="video">
            <video id="camera" autoplay playsinline></video>
        </div>
        <canvas id="snapshot" style="display:none;"></canvas>
        <button id="capture">Potret</button>
        <div id="loading">⏳ Sedang memproses...</div>
    </div>

  <script src="/static/script.js"></script>
</body>
</html>
